@model List<Model.Entity.Vendedor>
@{
    ViewBag.Title = "Lista de Vendedores";
}

<h2 class="text-center text-success">Lista de Vendedores</h2>
<div class="well well-sm"><a class="btn btn-primary" href="~/Vendedor/Create">Novo</a></div>
<table class="table table-hover table-striped">
    <thead>
        <tr class="bg-primary">
            <th>Código</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th colspan="3">Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objVendedor in Model)
        {
            <tr>
                <td>@objVendedor.IdVendedor</td>
                <td>@objVendedor.Nome</td>
                <td>@objVendedor.Cpf</td>
                <td>@objVendedor.Telefone</td>
                <td><a class="btn btn-success" href="~/Vendedor/Find/@objVendedor.IdVendedor"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td><a class="btn btn-info" href="~/Vendedor/Update/@objVendedor.IdVendedor"><span class="fa fa-edit"></span></a></td>
                <td><a class="btn btn-danger" href="~/Vendedor/Delete/@objVendedor.IdVendedor"><span class="fa fa-remove"></span></a></td>                
            </tr>
        }
    </tbody>

</table>


